a {
    color: rgb(96, 3, 184);
}

img {
    margin-left: 38%;
}

div {
    text-align: justify;
    width: 600px;
    background-color: transparent;
    margin-left:27%;
    margin-top: 2%;
    margin-right: 5%;
}
