.nome {
    font-weight: bold;
    color: rgb(34, 8, 59);
}

.conte {
    font-weight: bold;
    color: rgb(34, 8, 59);
}
  

.campo {
  margin-bottom: 10px;
}

#subtitulo {
    font-family: sans-serif;
    color:black;   
}

fieldset {
    border: 8px;
}

label {
    line-height: 45px;
}
  
input,select,textarea,button {
    border-radius: 5px;
}
  
#fieldset.campo.nome {
    float: left;
    margin-right: 1px;
}
  
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
  border: 1px solid rgb(191, 172, 209);
  box-shadow: 2px 2px 2px rgb(34, 8, 59);
  display: block;
}
  
.campo select option {
    padding-right: 2em;
}
  
#email {
    font-weight: bold;
    color: rgb(46, 14, 75);
}
  
#tell {
    justify-content: center;
    font-weight: bold;
   color: rgb(46, 14, 75);
}
  
#cep {
    font-weight: bold;
    color: rgb(46, 14, 75);
}
  
#sexo {
    color: rgb(46, 14, 75);
}

#fem {
    margin-top: 10px;
}

#mas {
    margin-top: 10px;
}


#tec {
    font-weight: bold;
    color: rgb(46, 14, 75);
}
  
#data {
    font-weight: bold;
    color: rgb(46, 14, 75);
  
}

#experiencia {
    font-weight: bold;
    text-decoration-line: none;
}
  
#entrar {
    background: linear-gradient(145deg, #e7e3ef, #fdf4ff);
    margin-left: 400px;
    border-bottom-style: groove;
    color: rgb(58, 0, 112);
    font-weight: bold;
    box-shadow: 13px 13px 21px #7f7b87, -13px -13px 21px #ffffff;
}
